body{
  margin: 0;
  background-color: rgb(234, 226, 226);
}
.wrapper{
  max-width: 800px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

header{
  background-color:#CE2829 ;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  position: relative;
  padding-bottom: 45vh;
  background-image: url("images/a77035a9df7ba412f5e1582f8e31e2e22182bd40.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .teknolojik-yemekler{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  margin: 2rem;
  color: white ;
}

header .firsati-kacirma{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FDC913;
  margin-top: 2rem;
  font-size: 2rem;

}

header .aciktirir-doyurur{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 5rem;
  color: white;
}

header button{
  color: rgba(0, 0, 0, 0.545);
  background-color: #FDC913;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  margin: 1.5rem;
  transition: transform 0.3s ease;
}

header button:hover{
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

header img{
  position: absolute;
}

header img#pizza{
  width: 55%;
  bottom: 0px;
}
header img#sag-ust{
  top: 0px;
  right: 0px;
}

header img#sol-alt{
  bottom: 0px;
  left: 0px;
}

.ust-menu{
  background-color: white;
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ust-menu nav{
  width: 50%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

.ust-menu nav div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.ust-menu nav div:hover{
  transform: scale(1.2);
}

.ust-menu nav div a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.siparis-ver{
  width: 50vw;
  display: flex;
  margin: 2rem;
}

.siparis-ver .ozel-lezzetus{
  background-color: #CE2829;
  width: 50%;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}
.siparis-ver .ozel-lezzetus img{
position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

}

.siparis-ver .ozel-lezzetus .sol-yazi{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2px;
  position: relative; 
  z-index: 10;
}

.siparis-ver .ozel-lezzetus .sol-yazi h1{
  color: white;
  font-size: 2rem;
  margin-top: 0px;
}

.siparis-ver .ozel-lezzetus .sol-yazi p{
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.siparis-ver .ozel-lezzetus .sol-yazi button{
  color: #CE2829;
  background-color: white;
  font-size: 0.7rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  transition:transform 0.3s ease;
}
.siparis-ver .ozel-lezzetus .sol-yazi button:hover{
  transform: scale(1.2);
  cursor: pointer;
}


.sag-taraf{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.sag-taraf div{
  height: 50%;
}

.sag-taraf .hackathlon{
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  position: relative; 
  overflow: hidden;
}

.sag-taraf .hackathlon .hack-yazilar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  position: relative; 
  z-index: 10;
  margin-top: 1rem;
}

.sag-taraf .hackathlon .hack-yazilar h1{
  font-family: "Barlow", sans-serif; 
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}
.sag-taraf .hackathlon .hack-yazilar button{
  color: #CE2829;
  background-color: white;
  font-size: 0.7rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  transition:transform 0.3s ease;
  margin-bottom: 2rem;
}
.sag-taraf .hackathlon .hack-yazilar button:hover{
  transform: scale(1.2);
  cursor: pointer;
}


.sag-taraf .hackathlon img{
  position: absolute;
  top:1.5rem;
  right: 3rem;
  height: 70%;
  width: auto;  
}

.kurye {
  background-color: #d3850749; /* Arka plan rengi */
  /* Eğer elinde şehir çizimi olan background resmi varsa buraya ekleyebilirsin: */
  background-image: url("images/b205d24a40ed8009ff8742ced4cebd1f21b6c436 (3).png");
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 2rem;
  position: relative;

  overflow: hidden; 
  justify-content: stretch;
  align-items: center; /* Dikeyde ortala */
  padding-left: 2rem;  
}

.kurye .kurye-yazilar{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  align-items: flex-start; /* ÖNEMLİ: Butonu sola yaslar, sündürmez */
  margin-top: 2rem;
}


.kurye h1 {
  font-family: "Barlow", sans-serif; 
  font-size: 1.3rem;
  color: #292929;
  margin-bottom: 1rem;
  z-index: 10;
  position: relative;
}

.kurye h1 span {
  color: #CE2829; 
}

.kurye button {
  color: #CE2829;
  background-color: white;
  font-size: 0.7rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  transition:transform 0.3s ease;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.kurye button:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.kurye img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%; 
}